<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Autorização de acesso</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<style>
html, body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-approval {
	width: 100%;
	max-width: 600px;
	padding: 15px;
	margin: auto;
}

.table {
	margin-top: 30px;
}
</style>
</head>

<body class="text-center">
	<form class="form-approval" th:action="@{/oauth/authorize}"
		method="post">
		<h1 class="h3 mb-3 font-weight-normal">Autorização de acesso</h1>

		<h2 class="h5 mb-3 font-weight-normal">
			A aplicação <strong th:text="${authorizationRequest.clientId}">nomedaaplicacao</strong>
			gostaria de acessar a sua conta.
		</h2>

		<table class="table">
			<tbody>
				<tr th:each="scope : ${scopes}">
					<td th:text="#{${scope.key}}">Descrição do escopo</td>
					<td><input type="radio" th:name="${scope.key}"
						th:checked="${scope.value}" value="true" /> Aprovar</td>
					<td><input type="radio" th:name="${scope.key}"
						th:checked="${!scope.value}" value="false" /> Rejeitar</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-lg btn-primary" type="submit">Autorizar</button>
		<input name="user_oauth_approval" value="false" type="hidden" />

		<p class="mt-5 mb-3 text-muted">&copy; AlgaWorks</p>
	</form>
</body>
</html>